body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;}
/* a:hover{text-decoration:underline;} */
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* 修改分页的样式 */
.page-box{
    padding:20px 0;
    float: right;
}
.el-pager li{
    border:1px solid #dfdfdf;
    background: #fff;
    margin:0 4px;
    border-radius: 3px;
    color:#595959;
    font-weight: normal;
}
.el-pager li.active {
    color: #fff;
    background: #0177d5;
}

/* 修改input select  元素样式 */
.el-input--medium .el-input__inner {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.el-input--medium .el-input__icon {
    line-height: 40px;
}
/* main-tabs 修改tabs的样式 */
.el-tabs--card>.el-tabs__header .el-tabs__item{
    border:none;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
    border:none;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
    background: #fff;
    color:#001d6f;
    border-radius: 5px 5px 0 0;
}
.el-tabs--card>.el-tabs__header .el-tabs__item {
    color:#fff;
    font-size:16px;
    font-weight: normal;
    padding: 3px 25px;
    height:auto;
}
.el-tabs__header{
    margin:0;
}
.el-tabs--card>.el-tabs__header{
    border:none;
}

.icon-Shape{
    color:#4977fc;
    margin-right:3px;
}


/* 面包屑 */
.el-breadcrumb__inner {
    color: #fff;
  }
  .el-breadcrumb__item:last-child .el-breadcrumb__inner {
    color: #fff;
  }
  .el-breadcrumb__separator {
    margin: 0 5px;
    font-weight: 400;
    color: #fff;
  }

  /* menu菜单样式重置 */
.icon-zuzhijiagou{
    color: #001d6f;
    font-size: 17px;
    margin-right: 10px;
}
.el-submenu__title{
    outline: 0px;
    border-left:5px solid #fff;
    background-color: #fff;
}
.el-submenu__title:focus, .el-submenu__title:hover {
    outline: 0px;
    border-left:5px solid #001d6f;
    background-color: #e9eafc;
}
.el-submenu__title{
    font-size: 15px;
}
.el-submenu__title i{
    color:#001d6f;
    font-size: 15px;
}
.el-menu-item{
    font-size: 15px;
}
.el-menu-item, .el-submenu__title{
    height:40px;
    line-height: 40px;
}
